<nz-layout>
    <!-- <nz-header>
      <div class="title">
          <img class="logo" src="./assets/icon.png" alt="LOGO">
          <article routerLink="/">医院轨道机器人巡检系统</article>
      </div>

      <div class="menus">
          <button nz-button [nzGhost]="true"><i nz-icon nzType="user"></i>User1</button>
          <button nz-button [nzGhost]="true"><i nz-icon nzType="export" nzTheme="outline"></i>注销</button>
          <button nz-button [nzGhost]="true"><i nz-icon nzType="fullscreen" nzTheme="outline"></i>全屏</button>
      </div>
    </nz-header> -->
    <nz-layout>
      <!-- <nz-sider nzWidth="200px" nzTheme="dark" >
        <ul nz-menu nzMode="inline" class="sider-menu">
          @for (area of areas; track area.id;) {
          <li class="out" nz-submenu [nzTitle]="area.name" [nzOpen]="area.selected" [nzIcon]="area.icon || 'insert-row-left'">
            @if( area.children && area.children.length > 0 ){
            <ul>
              @for (item of area.children; track item.id;) {
              <li class="in" nz-menu-item [nzMatchRouter]="true" [routerLink]="[ './overview', item.id ]">
                <span nz-icon [nzType]="item.icon || 'solution'"></span>
                <span>{{ item.name }}</span>
            </li>
              }
            </ul>
            }
          </li>
          }
        </ul>
      </nz-sider> -->
      <nz-layout class="inner">
        <nz-content>
          <router-outlet />
        </nz-content>
      </nz-layout>
    </nz-layout>
  </nz-layout>
