:host {
    ::ng-deep video {
        width: 100%;
        height: auto;
        margin: auto;
        background-color: black;
        max-height: 60vh;
    }
    ::ng-deep .ant-table-thead > tr > th {
        background-color: #cccccc; /* 设置表头背景色为灰色 */
        color: #333333; /* 设置表头文字颜色为深灰色 */
    }
    ::ng-deep .ant-table-tbody > tr:nth-child(odd) {
        background-color: #f7f7f7; /* 设置奇数行背景色为浅灰色 */
    }
    main {
        display: grid;
        grid-template-columns: 3fr 1fr;
        width: 100%;
        column-gap: 1rem;
        height: 83%;
    }
    nz-card {
        border: 3px solid #eeeeee;
        margin-top: 9px;
        flex: auto;
        overflow-y: scroll;
        div[nz-icon] {
            width: 100%;
            font-size: 5rem;
            text-align: center;
            color: #ffffff;
            cursor: pointer;
        }

        &.droid-robot-status {
            flex: 0 1 30rem;
            width: 99px;
            >div {
                display: grid;
                grid-template-columns: repeat(5, 1fr);
                grid-template-rows: repeat(4, 1fr);
                grid-column-gap: 32px;
                grid-row-gap: 0;
                margin-bottom: 9px;
                div {
                    &:nth-child(1) {
                        display: flex;
                        // flex-direction: column;
                        grid-area: 1 / 1 / 5 / 6;
                        text-align: center;
                        gap: 9px;
                        padding: 9px;
                    }
                }
            }
        }
    }
}

.jiankong {
    position: absolute;
    top: 0.8%;
    left: 2%;
    display: flex;
    margin-left: auto;
    font-size: 20px;
    font-weight: bold;
    color: #000000;
}

.abutton {
    position: absolute;
    text-align: center;
    justify-content: center; /* 水平居中 */
    align-items: center; /* 垂直居中 */
    top: 0.8%;
    right: 0.5%;
    display: flex;
    font-size: 20px;
    font-weight: bold;
    color: #000000;
}

.NO-robots {
    height: 100%;
    margin: 9px;
    display: flex;
    justify-content: center;
    align-items: center;
}

* {
    font-size: 18px;
}

.head {
    font-size: 27px;
}

.biaoge {
    position: absolute;
    top: 1%;
    left: 7%;
}
