@if ( area ) {
    <h3 class="head">{{ area.name }}</h3>
    @if( droidOptions.length == 0 ){
    <div class="NO-robots">该区域未安装机器人</div>
    }@else {
    @if(droidOptions.length>1){
    <p style="font-size: 24px;">{{ displayText }}</p>
    <!-- <nz-segmented [nzOptions]="droidOptions" nzSize="large" (nzValueChange)="onSelectDroid($event);"></nz-segmented> -->
    }
    @else if( droidOptions.length==1 )
    {
    <h4>{{ droidOptions[0].label }}</h4>
    }
    <main>
      <nz-card [nzExtra]="snapshot" >

        @if( !isLive() ){
        <div nz-icon [nzType]=" 'loading' "></div>
        }
        <div class="holder" #liveHolder></div>
      </nz-card>
      <ng-template #snapshot>
        <div class="jiankong">实时监控</div>
        <div class="abutton">
            <button (click)="onLiveClick();">
                <span nz-icon nzType="reload" nzTheme="outline"></span>
                摄像头重连
            </button>
        </div>
      </ng-template>
      <nz-card class="robot-status" [nzExtra]="tabelname">
        <ng-template #tabelname>
            <div class="biaoge">机器人状态表格</div>
        </ng-template>
            <nz-table
                [nzFooter]="null"
                [nzData]="listOfRandomUser"
                [nzFrontPagination]="false"
                [nzShowPagination]="false"
                [nzShowSizeChanger]="false"
                [nzLoading]="loading"
                [nzTotal]="total"
                [nzSize]="size"
                [nzPageSize]="pageSize"
                [nzPageIndex]="pageIndex"
                >
                <thead>
                    <tr>
                    <th>查看画面</th>
                    <th>机器人编号</th>
                    <th>状态</th>
                    <th>进入控制</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let data of listOfRandomUser">
                    <td>
                        <button nzType="primary" (click)="changeOption(data.id, data.name)">查看</button>
                    </td>
                    <td>{{ data.name }}</td>
                    <!-- <td>{{ data.status }}</td> -->
                    <td [ngSwitch]="data.status">
                        <ng-container *ngSwitchCase="0">手动巡检</ng-container>
                        <ng-container *ngSwitchCase="1">自动巡检</ng-container>
                        <ng-container *ngSwitchCase="2">关闭</ng-container>
                        <ng-container *ngSwitchCase="3">故障</ng-container>
                    </td>
                    <td>
                        <button nzType="primary" (click)="change2handelmode(data.id)">进入</button>
                    </td>
                    </tr>
                </tbody>
            </nz-table>
      </nz-card>
    </main>
    }
    } @else {
    <div>所选区域不存在</div>
    }
