:host {
    ::ng-deep video {
        width: 100%;
        height: auto;
        margin: auto;
        background-color: black;
        max-height: 60vh;
    }

    .equipments {
        margin-top: 2px;
        flex: auto;
        overflow: hidden;
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: repeat(1, 1fr);
        grid-column-gap: 34px;
        grid-row-gap: 0;
        margin-bottom: 2px;
        // div {
        //     &:nth-child(1) {
        //         grid-area: 1 / 1 / 2 / 2;
        //         text-align: left;
        //     }
        //     &:nth-child(2) {
        //         grid-area: 1 / 2 / 2 / 3;
        //         text-align: left;
        //     }
        // }
    }
    main {
        display: flex;
        width: 100%;
        column-gap: 1rem;
        height: 83%;
    }
    .left {
        flex: 10;
        // background-color: lightblue;
        padding: 10px;
    }
    .right {
        flex: 4;
        // background-color: lightgreen;
        padding: 10px;
    }
    nz-card {
        margin-top: 9px;
        flex: auto;
        overflow: hidden;
        div[nz-icon] {
            width: 100%;
            font-size: 5rem;
            text-align: center;
            color: #ffffff;
            cursor: pointer;
        }
        &.droid-ctrl {
            flex: 0 1 30rem;
            article.ipc-ctrl {
                width: 120%;

                >nav {
                    margin-bottom: 9px;
                }

                .Actrl {
                    // max-width: 100%;
                    display: grid;
                    margin-bottom: 20px; /* 设置下边距为20像素 */
                    gap: 10px;
                    // grid-template-rows: 100px 100px 100px;
                    grid-template-columns: 33px 33px 33px  ; /* 三列：200px，1fr（剩余空间），200px */
                    grid-template-rows: 33px 33px 33px  ;    /* 三行：100px，1fr（剩余空间），100px */
                }
                .A1 {
                    grid-column: 2 / 3;
                    grid-row: 1 / 2;
                }
                .A2 {
                    grid-column: 1 / 2;
                    grid-row: 2 / 3;
                }
                .A3 {
                    grid-column: 3 / 4;
                    grid-row: 2 / 3;
                }
                .A4 {
                    grid-column: 2 / 3;
                    grid-row: 3 / 4;
                }
                .B button {
                    margin-bottom: 20px;
                    margin-left: 10px;
                }
                .C button {
                    margin-bottom: 20px;
                    margin-left: 10px;
                }
                .D button {
                    margin-bottom: 20px;
                    margin-left: 10px;
                }
                .E button {
                    margin-bottom: 20px;
                    margin-left: 10px;
                }
                #text-input {
                    margin-bottom: 20px;
                    margin-left: 10px;
                }
                p {
                    width: 80%;
                    border-bottom: 3px solid #CCCCCC; /* 底部边框，黑色实线，宽度为1像素 */
                }
            }
        }
    }
}

nz-modal {
    /* 对带有 [nz-icon] 属性的 <div> 元素应用样式 */
    display: scroll;
    width: auto;
    padding: 9px;
}

nz-range-picker {
    margin: 0 8px 12px 0;
}

.jiankong {
    position: absolute;
    top: 0.8%;
    left: 2%;
    display: flex;
    margin-left: auto;
    font-size: 20px;
    font-weight: bold;
    color: #000000;
}

.abutton {
    position: absolute;
    text-align: center;
    justify-content: center; /* 水平居中 */
    align-items: center; /* 垂直居中 */
    top: 0.8%;
    right: 0.5%;
    display: flex;
    font-size: 20px;
    font-weight: bold;
    color: #000000;
}

.container {
    display: flex;
    // flex-direction: row;
    white-space: nowrap;
    gap: 10px;
    padding: 9px;
}

.button-red {
    background-color: red;
    color: rgb(0, 0, 0);
}

.button-green {
    background-color: rgb(96, 241, 96);
    color: rgb(0, 0, 0);
}

.pic img {
    max-width: 200px; /* 设置最大宽度 */
    max-height: 200px; /* 设置最大高度 */
}

* {
    font-size: 18px;
}

.boxxx {
    display: flex;
    gap: 12px;
    // font-size: 1px ;
}
.diii {
    justify-content: center;
}

.status-abnormal {
    color: red; /* 红色文本 */
}

.status-normal {
    color: inherit; /* 正常颜色，可以是默认的颜色 */
}

.head {
    font-size: 18px ;
    font-weight: bold;

}

.biaoge {
    position: absolute;
    top: 1%;
    left: 7%
}
// .text-input {
//     width: 150px;
// }
.overlay {
    position: absolute;
    top: 18%; /* 纵向居中 */
    left: 12%; /* 横向居中 */
    transform: translate(-15%, -10%); /* 向上偏移 */
    background-color: rgba(0, 0, 0, 0.0); /* 这里设置蒙版颜色和透明度 */
    // color: rgb(255, 234, 0);
    font-size: 24px;
    padding: 10px;
}
.text0 {
    color: rgb(255, 234, 0);
    font-size: 27px;
    text-shadow:
        -1px -1px 0 #000,
         1px -1px 0 #000,
        -1px  1px 0 #000,
         1px  1px 0 #000; /* 黑色描边 */
}
.text1 {
    color: rgb(255, 234, 0);
    font-size: 23px;
    text-shadow:
        -1px -1px 0 #000,
         1px -1px 0 #000,
        -1px  1px 0 #000,
         1px  1px 0 #000; /* 黑色描边 */
}
::ng-deep .ant-table-thead > tr > th {
    background-color: #cccccc; /* 设置表头背景色为灰色 */
    color: #333333; /* 设置表头文字颜色为深灰色 */
}
::ng-deep .ant-table-tbody > tr:nth-child(odd) {
    background-color: #f7f7f7; /* 设置奇数行背景色为浅灰色 */
}


