@if ( area ) {
    <link rel="stylesheet" href="https://lf3-cdn-tos.bytecdntp.com/cdn/expire-1-M/font-awesome/4.7.0/css/font-awesome.min.css">
    <h3 class="head">查看设备</h3>
    <!-- @if( droidOptions.length == 0 ){
    <div>该区域没有相关机器人信息</div>
    }@else {
    @if(droidOptions.length>1){ -->
    <!-- <nz-segmented [nzOptions]="droidOptions" nzSize="large" (nzValueChange)="onSelectDroid($event);"></nz-segmented> -->
    <!-- <nz-card class = "equipments">
        <div class="container">
        </div>
    </nz-card> -->
    <!-- }
    @else if( droidOptions.length==1 )
    {
    <h4>{{ droidOptions[0].label }}</h4>
    } -->
    <main>
    <div class="left">
        <nz-card class = "equipments">
            <div class="container">
            </div>
        </nz-card>

      <nz-card [nzExtra]="snapshot">
        @if( !isLive() ){
        <div nz-icon [nzType]=" 'loading' "></div>
        }
        <div class="holder" #liveHolder></div>
      </nz-card>
      <ng-template #snapshot>
        <div class="overlay">
            <div class="text0" id="mengban0"></div>
            <div class="text1" id="mengban1"></div>
        </div>
        <div class="jiankong">实时监控</div>

        <div class="abutton">
            <button (click)="onLiveClick();">
                <span nz-icon nzType="reload" nzTheme="outline"></span>
                摄像头重连
            </button>
        </div>


      </ng-template>
    </div>
    <!-- <div class="right">
      <nz-card class="droid-ctrl" [nzExtra]="tabelname">
        <ng-template #tabelname>
            <div class="biaoge">机器人控制面板</div>
        </ng-template>
        <article class="ipc-ctrl">
                <div class="D" >
                    <p class="textD"> 模式控制 | 当前模式:{{ modeNow }}</p>
                    <button class="robotctrl" (click)="startCheck()"><i class="fa fa-play-circle-o" aria-hidden="true"></i> 自动巡检</button>
                    <button class="robotctrl" (click)="stopCheck()"><i class="fa fa-stop-circle" aria-hidden="true"></i> 手动控制</button>
                </div>

                <div class="K">
                    <p class="textK"> 巡检时间间隔设置 | 当前间隔:{{ timeSetNow }}</p>
                    <input type="number" id="text-input" name="text-input" min="1" max="1440" placeholder="输入分钟数 > 0">
                    <label for="text-input"> 分钟  </label>
                    <button class="submit" (click)="setIntervalTime()">设置</button>

                </div>

                <div class="D" id="dddd" >
                    <p class="textE"> 预置点选择 | 当前预置点:{{ presetNow }}</p>
                    <button class="robotctrl" (click)="showPosition()"><i class="fa fa-align-justify" aria-hidden="true"></i> 预置点列表</button>
                </div>

                <div class="A" id="dddd" >
                    <p class="textA" > 云台控制 </p>
                    <div class="Actrl">
                        <button class="A1" (click)="onIpcControl('up')"><i class="fa fa-arrow-up" aria-hidden="true"></i></button>
                        <button class="A2" (click)="onIpcControl('left')"><i class="fa fa-arrow-left" aria-hidden="true"></i></button>
                        <button class="A3" (click)="onIpcControl('right')"><i class="fa fa-arrow-right" aria-hidden="true"></i></button>
                        <button class="A4" (click)="onIpcControl('down')"><i class="fa fa-arrow-down" aria-hidden="true"></i></button>
                    </div>
                </div>

                <div class="B" id="dddd" >
                    <p class="textB"> 焦距控制 </p>
                    <button class="robotctrl" (click)="onIpcFocal('in')"><i class="fa fa-compress" aria-hidden="true"></i> 缩</button>
                    <button class="robotctrl" (click)="onIpcFocal('out')"><i class="fa fa-expand" aria-hidden="true"></i> 放</button>
                </div>

                <div class="C" id="dddd">
                    <p class="textC"> 滑轨控制 </p>
                    <button class="robotctrl" (click)="robotLeft()"><i class="fa fa-chevron-circle-left" aria-hidden="true"></i> 左</button>
                    <button class="robotctrl" (click)="robotRight()"><i class="fa fa-chevron-circle-right" aria-hidden="true"></i> 右</button>
                </div>
                <div>
                    <br><br><br>
                </div>



        </article>
      </nz-card>
    </div> -->
    </main>
     <!-- }
    } @else {
    <div>所选区域不存在</div> -->
    }

    <!-- 设备历史状态对话框 -->
    <nz-modal [(nzVisible)]="isVisible" [nzTitle]='deviceName' (nzOnCancel)="handleCancel()" [nzFooter]=null [nzWidth]='widthnz' [nzBodyStyle]="{ 'overflow': 'auto' }">
        <ng-container *nzModalContent>
            <div class="boxxx">
                <div>
                    <button nz-button nz-dropdown [nzDropdownMenu]="menu">
                        {{ buttonText }}
                        <i nz-icon nzType="down"></i>
                    </button>
                    <nz-dropdown-menu #menu="nzDropdownMenu">
                        <ul nz-menu>
                        <li nz-menu-item>
                            <a (click)="doCheck('a')">最近24小时</a>
                        </li>
                        </ul>
                        <ul nz-menu>
                        <li nz-menu-item>
                            <a (click)="doCheck('b')">最近一周</a>
                        </li>
                        </ul>
                        <ul nz-menu>
                            <li nz-menu-item>
                            <a (click)="doCheck('c')">最近一个月</a>
                            </li>
                        </ul>
                    </nz-dropdown-menu>
                </div>
                <div>
                    <nz-range-picker [nzShowTime]="true" [(ngModel)]="date" (ngModelChange)="onChange($event)"></nz-range-picker>
                </div>
                <div>
                    <button nz-button (click)="returnback()">
                        清除筛选条件
                    </button>
                </div>
            </div>
            <nz-table
            [nzFooter]="null"
            [nzData]="listOfRandomUser"
            [nzFrontPagination]="false"
            [nzShowPagination]="false"
            [nzShowSizeChanger]="false"
            [nzLoading]="loading"
            [nzTotal]="total"
            [nzSize]="size"
            [nzPageSize]="pageSize"
            [nzPageIndex]="pageIndex"
            >
            <!-- <thead>
                <tr>
                <th>数据编号</th>
                <th>设备名称</th>
                <th>录入日期</th>
                <th>数据名称</th>
                <th>数据结果</th>
                <th>数据状态</th>
                <th>数据来源</th>
                <th>巡检图片</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let data of listOfRandomUser">
                <td>{{ data.id }}</td>
                <td>{{ data.devicename }}</td>
                <td>{{ data.date | date: 'yyyy-MM-dd HH:mm:ss' }}</td>
                <td>{{ data.name }}</td>
                <td>{{ data.result }}</td>
                <td  [class.status-normal]="data.status === '0'" [class.status-abnormal]="data.status != '0'" >{{ data.status == '0' ? '正常' : '异常'  }}</td>
                <td>{{ data.getby == 0 ? '机器人' : 'IOT' }}</td>
                <td>
                    <button nzType="primary" (click)="showPic(data.imgpath)">{{ data.imgpath ? '有' : '无' }}</button>
                </td>
                </tr>
            </tbody> -->
            <thead>
                <tr>
                <!-- <th>数据编号</th> -->
                <th>巡检时间</th>
                <th>排风机运行状态</th>
                <!-- <th>送风机停止状态</th> -->
                <th>送风机运行状态</th>
                <th>排风机故障状态</th>
                <th>防火阀动作状态</th>
                <th>送风机故障状态</th>
                <th>手自动状态</th>
                <th>数据来源</th>
                <th>数据状态</th>
                <th>巡检图片</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let data of userNowLi">
                <!-- <tr *ngFor="let data of listOfRandomUser"> -->
                <!-- <td>{{ data.id }}</td> -->
                <td>{{ data.date}}</td>
                <td>{{ data.result2 == "1" ? '运行' : '停止'  }}</td>
                <!-- <td>{{ data.result3 == "0" ? '运行' : '停止'  }}</td> -->
                <td>{{ data.result4 == "1" ? '运行' : '停止'  }}</td>
                <td>{{ data.result5 == "0" ? '正常' : '故障'  }}</td>
                <td>{{ data.result6 == "0" ? '未动作' : '动作'  }}</td>
                <td>{{ data.result7 == "0" ? '正常' : '故障'  }}</td>
                <td>{{ data.result1 }}</td>
                <td>{{ data.getby == 0 ? '机器人' : 'IOT' }}</td>
                <td  [class.status-normal]="data.status === '0'" [class.status-abnormal]="data.status != '0'" >{{ data.status == '0' ? '正常' : '异常'  }}</td>
                <td>
                    <button nzType="primary" (click)="showPic(data.imgpath)">{{ data.imgpath ? '有' : '无' }}</button>
                </td>
                </tr>
            </tbody>
            </nz-table>
        </ng-container>
    </nz-modal>

    <!-- 巡检图片对话框 -->
    <nz-modal [(nzVisible)]="isVisiblepic" nzTitle="巡检图片" (nzOnCancel)="handleCancelpic()" [nzFooter]=null [nzWidth]='picwidthnz' [nzBodyStyle]="{'overflow': 'auto'}" >
        <div class="diii">
            <ng-container *nzModalContent>
                <div class="pic">
                    <img id="myImage" [src]="getPath()" [style.max-width.px]="calculateMaxWidth()" [style.max-height.px]="calculateMaxHeight()">
                </div>
            </ng-container>
        </div>
    </nz-modal>

    <!-- 预置点列表 -->
    <nz-modal [(nzVisible)]="isVisiblepos" nzTitle="预置点列表" (nzOnCancel)="handlePosition()" [nzFooter]=null [nzWidth]='yuzhiwidthnz' [nzBodyStyle]="{ 'overflow': 'auto' }">
        <ng-container *nzModalContent>
            <nz-table
            [nzFooter]="null"
            [nzData]="listOfPresets"
            [nzFrontPagination]="false"
            [nzShowPagination]="false"
            [nzShowSizeChanger]="false"
            [nzLoading]="loading"
            [nzTotal]="total"
            [nzSize]="size"
            [nzPageSize]="pageSize"
            [nzPageIndex]="pageIndex"
            >
            <thead>
                <tr>
                    <!-- <th>预置点编号</th> -->
                    <th>预置点id</th>
                    <th>预置点P</th>
                    <th>预置点T</th>
                    <th>预置点Z</th>
                    <th>预置点设备id</th>
                    <th>所属机器人id</th>

                    <th>预置点所关注数据id</th>
                    <th>移动到预置点</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let data of listOfPresets">
                <!-- <td>{{ data.id }}</td> -->
                <td>{{ data.slidePresetId }}</td>
                <td>{{ data.p }}</td>
                <td>{{ data.t }}</td>
                <td>{{ data.z }}</td>
                <td>{{ data.device }}</td>
                <td>{{ data.robotId }}</td>

                <td>{{ data.dataInfoId }}</td>
                <td>
                    <button nzType="primary" (click)="gotoApreset(data.id)" >移动至此</button>

                    <!-- export interface Presetslist {
                        id: number;
                        p: number;
                        t: number;
                        z: number;
                        device_id: number;
                        data_info_id: string;
                    } -->
                </td>
                </tr>
            </tbody>
            </nz-table>
        </ng-container>
    </nz-modal>




